.homePageContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.filterContainer {
    background: #f0f0fc;
    border-radius: 10px;
    left: 0;
    padding: 1rem;
    position: fixed;
    text-align: center;
    top: 30%;
    width: 14rem;
}

div h2 {
    color: #224957;
    font-size: 1.25em;
    font-weight: 700;
}

.priceRange {
    background-color: #7064e5;
    border-radius: 4px;
    cursor: pointer;
    height: 6px;
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 90%;
}

.categoryContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}

[type=checkbox] {
    border-radius: .25rem;
    height: 1rem;
    margin-right: .5rem;
    width: 1rem;
}

.homePageForm {
    margin: auto;
    width: 25%;
}

.homePageSearch {
    background: #f4f6f8 !important;
    border: 1px solid #7064e5;
    border-radius: 10px;
    box-sizing: border-box;
    color: #7064e5 !important;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
    margin: 1em 0 !important;
    outline: none;
    padding: 12px;
    width: 100%;
}